@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --border: #c7cbd2f3;
  --card: #f5f7fa;
  --accent: #dfe2e8;
  --background: #fcfeff;

  /* Radius */
  --radius: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-noto-mono);
}

body {
  width: 100%;
  max-width: 85rem;
  margin-inline: auto;
  padding: 1.25rem;
}

h1 {
  font-size: var(--text-5xl);
  text-align: center;
  font-weight: 600;
  padding: 2rem 0;
}

h2 {
  font-size: var(--text-xl);
  font-weight: 600;
}

h3 {
  font-size: var(--text-base);
}

dt,
dd {
  font-size: 0.875rem;
  color: #101828;
}

button {
  text-align: left;
  padding: 1rem;
  background-color: var(--card);
  width: 100%;
  cursor: pointer;
}

.content {
  background-color: var(--background);
  padding: 1rem;
}

.card {
  border: 1px solid var(--border);
}

button:hover {
  background-color: var(--accent);
}

footer {
  padding: 2rem;
  font-family: var(--font-mono);
  font-size: var(--text-xs);
  color: var(--muted);
}

@media (max-width: 800px) {
  body {
    padding: 0.25rem;
  }

  h1 {
    font-size: var(--text-3xl);
    text-align: center;
    font-weight: 600;
    padding: 2rem 0;
  }

  h2 {
    font-size: var(--text-lg);
    font-weight: 600;
  }

  h3 {
    font-size: var(--text-base);
  }
}
